@charset "utf-8";

#home{
	width: 1300px;
	height: 1000px;
	top:50%;
	left: 50%;
	margin: -500px 0 0 -650px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: #fff;
	position: absolute;
}
.showTable{
	width: 1200px;
	height: 900px;
	background: #fff;
	margin:50px auto;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
.showTable .link{
	width: 300px;
	height: 300px;
	display: inline-block;
}

.showTable  tr{
	border-collapse: collapse;
}
.showTable  td{
	width: 300px;
	height: 300px;
	/*padding: 0 20px;*/
	box-sizing: -webkit-border-box;
}



/*单元格背景色*/
.row1 td:nth-child(1){
	background: #fff;
}
.row1 td:nth-child(2){
	background: url(../img/五子棋.jpg) no-repeat center center/100%;
}
.row1 td:nth-child(3){
	background: #fff;
}
.row1 td:nth-child(4){
	background: url(../img/剪刀石头布.jpg) no-repeat center center/100%;
}
.row2 td:nth-child(1){
	background: url(../img/挑棒.jpg) no-repeat center center/100%;
}
.row2 td:nth-child(2){
	background: #fff;
}

.row2 td:nth-child(3){
	background: url(../img/飞行棋.jpg) no-repeat center center/100%;
}
.row2 td:nth-child(4){
	background: url(../img/default.jpg) no-repeat center center/100%;
}
.row3 td:nth-child(1){
	background: url(../img/default.jpg) no-repeat center center/100%;
}
.row3 td:nth-child(2){
	background: url(../img/七巧板.jpg) no-repeat center center/100%;
}
.row3 td:nth-child(3){
	background: #fff;
}
.row3 td:nth-child(4){
	background:url(../img/拼图.jpg) no-repeat center center/100%;;
}

/*单元格hover事件*/
.row1 td:nth-child(1):hover{
	background: #fff;
}
.row1 td:nth-child(2):hover{
	background: url(../gif/五子棋.gif) no-repeat center center/100%;
}
.row1 td:nth-child(3):hover{
	background: #fff;
}
.row1 td:nth-child(4):hover{
	background: url(../gif/剪刀石头布.gif) no-repeat center center/100%;
}
.row2 td:nth-child(1):hover{
	background: url(../gif/挑棒.gif) no-repeat center center/100%;
}
.row2 td:nth-child(2):hover{
	background: #fff;
}

.row2 td:nth-child(3):hover{
	background: url(../gif/飞行棋.gif) no-repeat center center/100%;
}
.row2 td:nth-child(4):hover{
	background: url(../gif/default.gif) no-repeat center center/100%;
}
.row3 td:nth-child(1):hover{
	background: url(../gif/default.gif) no-repeat center center/100%;
}
.row3 td:nth-child(2):hover{
	background: url(../gif/七巧板.gif) no-repeat center center/100%;
}
.row3 td:nth-child(3):hover{
	background: #fff;
}
.row3 td:nth-child(4):hover{
	background:url(../gif/拼图.gif) no-repeat center center/100%;;
}


