@charset "utf-8";

#home{
	width: 1300px;
	height: 1000px;
	top:50%;
	left: 50%;
	margin: -500px 0 0 -650px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: #fff;
	position: absolute;
}
.showTable{
	width: 1200px;
	height: 900px;
	background: #fff;
	margin:50px auto;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
.showTable .link{
	width: 300px;
	height: 300px;
	display: inline-block;
}

.showTable  tr{
	border-collapse: collapse;
}
.showTable  td{
	width: 300px;
	height: 300px;
	/*padding: 0 20px;*/
	box-sizing: -webkit-border-box;
}



/*单元格背景色*/
.row1 td:nth-child(1){
	background: url(../img/123木头人.jpg) no-repeat center center/100%;
}
.row1 td:nth-child(2){
	background: #fff;
}
.row1 td:nth-child(3){
	background: url(../img/捉迷藏.jpg) no-repeat center center/100%;
}
.row1 td:nth-child(4){
	background: url(../img/default.jpg) no-repeat center center/100%;
}
.row2 td:nth-child(1){
	background: #fff;
}
.row2 td:nth-child(2){
	background: url(../img/扔沙包.jpg) no-repeat center center/100%;
}

.row2 td:nth-child(3){
	background: url(../img/捉蛐蛐.jpg) no-repeat center center/100%;
}
.row2 td:nth-child(4){
	background:#fff;
}
.row3 td:nth-child(1){
	background: url(../img/default.jpg) no-repeat center center/100%;
}
.row3 td:nth-child(2){
	background: url(../img/剪刀石头布.jpg) no-repeat center center/100%;
}
.row3 td:nth-child(3){
	background:#fff;
}
.row3 td:nth-child(4){
	background: url(../img/default.jpg) no-repeat center center/100%;
}



/*单元格hover事件*/
.row1 td:nth-child(1):hover{
	background: url(../gif/123木头人.gif) no-repeat center center/100%;
}
.row1 td:nth-child(2):hover{
	background: #fff;
}
.row1 td:nth-child(3):hover{
	background: url(../gif/捉迷藏.gif) no-repeat center center/100%;
}
.row1 td:nth-child(4):hover{
	background: url(../gif/default.gif) no-repeat center center/100%;
}
.row2 td:nth-child(1):hover{
	background: #fff;
}
.row2 td:nth-child(2):hover{
	background: url(../gif/扔沙包.gif) no-repeat center center/100%;
}

.row2 td:nth-child(3):hover{
	background: url(../gif/捉蛐蛐.gif) no-repeat center center/100%;
}
.row2 td:nth-child(4):hover{
	background:#fff;
}
.row3 td:nth-child(1):hover{
	background: url(../gif/default.gif) no-repeat center center/100%;
}
.row3 td:nth-child(2):hover{
	background: url(../gif/剪刀石头布.gif) no-repeat center center/100%;
}
.row3 td:nth-child(3):hover{
	background:#fff;
}
.row3 td:nth-child(4):hover{
	background: url(../gif/default.gif) no-repeat center center/100%;
}

