@charset "utf-8";

#home{
	width: 1300px;
	height: 1000px;
	top:50%;
	left: 50%;
	margin: -500px 0 0 -650px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: #fff;
	position: absolute;
}
.showTable{
	width: 1200px;
	height: 900px;
	background: #fff;
	margin:50px auto;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
.showTable .link{
	width: 300px;
	height: 300px;
	display: inline-block;
}

.showTable  tr{
	border-collapse: collapse;
}
.showTable  td{
	width: 300px;
	height: 300px;
	/*padding: 0 20px;*/
	box-sizing: -webkit-border-box;
}



/*单元格背景色*/
.row1 td:nth-child(1){
	background: #fff;
}
.row1 td:nth-child(2){
	background: url(../img/弹弓.jpg) no-repeat center center/100%;
}
.row1 td:nth-child(3){
	background: url(../img/掷投.jpg) no-repeat center center/100%;
}
.row1 td:nth-child(4){
	background: #fff;
}
.row2 td:nth-child(1){
	background: url(../img/丢飞碟.jpg) no-repeat center center/100%;
}
.row2 td:nth-child(2){
	background: #fff;
}

.row2 td:nth-child(3){
	background: url(../img/跳马背.jpg) no-repeat center center/100%;
}
.row2 td:nth-child(4){
	background: url(../img/default.jpg) no-repeat center center/100%;
}
.row3 td:nth-child(1){
	background: #fff;
}
.row3 td:nth-child(2){
	background: url(../img/定飞镖.jpg) no-repeat center center/100%;
}
.row3 td:nth-child(3){
	background:#fff;
}
.row3 td:nth-child(4){
	background: url(../img/套圈.jpg) no-repeat center center/100%;
}



/*单元格hover事件*/
.row1 td:nth-child(1):hover{
	background: #fff;
}
.row1 td:nth-child(2):hover{
	background: url(../gif/弹弓.gif) no-repeat center center/100%;
}
.row1 td:nth-child(3):hover{
	background: url(../gif/掷投.gif) no-repeat center center/100%;
}
.row1 td:nth-child(4):hover{
	background: #fff;
}
.row2 td:nth-child(1):hover{
	background: url(../gif/丢飞碟.gif) no-repeat center center/100%;
}
.row2 td:nth-child(2):hover{
	background: #fff;
}

.row2 td:nth-child(3):hover{
	background: url(../gif/跳马背.gif) no-repeat center center/100%;
}
.row2 td:nth-child(4):hover{
	background: url(../gif/default.gif) no-repeat center center/100%;
}
.row3 td:nth-child(1):hover{
	background: #fff;
}
.row3 td:nth-child(2):hover{
	background: url(../gif/定飞镖.gif) no-repeat center center/100%;
}
.row3 td:nth-child(3):hover{
	background:#fff;
}
.row3 td:nth-child(4):hover{
	background: url(../gif/套圈.gif) no-repeat center center/100%;
}


